@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #fff;
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block; /* Removed flex centering */
  min-width: 320px;
  min-height: 100vh;
  background-color: #141414;
  overflow-x: hidden;
}

/* Hide Scrollbar for Rows */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For Hero Gradient */
.hero-gradient {
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 0.6) 70%,
    rgba(20, 20, 20, 1) 100%
  );
}

.hero-vignette {
    background: linear-gradient(
        to right,
        rgba(20, 20, 20, 0.8) 0%,
        rgba(20, 20, 20, 0) 40%,
        rgba(20, 20, 20, 0) 60%,
        rgba(20, 20, 20, 0.8) 100%
    );
}

img {
    user-select: none;
    -webkit-user-drag: none;
}
